name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          sudo apt update
          # libtinfo5 ki jagah libtinfo6 aur ncurses-dev use kiya hai
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev
          pip3 install --upgrade pip
          pip3 install Cython==0.29.33 buildozer

      - name: Build APK with Buildozer
        run: |
          export PATH=$PATH:$HOME/.local/bin
          # Licenses ko skip karne ke liye env variable
          export APP_ANDROID_ACCEPT_SDK_LICENSE=1
          yes | buildozer -v android debug

      - name: Upload APK
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: my-app-apk
          path: bin/*.apk
