name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev build-essential
          pip3 install --upgrade pip
          pip3 install "Cython<3.0" buildozer 

      - name: Build APK with Buildozer
        run: |
          export PATH=$PATH:$HOME/.local/bin
          
          # Spec file settings ko automatic fix karna
          sed -i 's/^#\? \?android.ndk =.*/android.ndk = 25b/' buildozer.spec
          sed -i 's/^#\? \?android.api =.*/android.api = 33/' buildozer.spec
          sed -i 's/^#\? \?android.accept_sdk_license =.*/android.accept_sdk_license = True/' buildozer.spec
          
          # Sabse pehle purane cache ko clear karein
          buildozer android clean
          # Build shuru karein
          buildozer -v android debug
        env:
          APP_ANDROID_ACCEPT_SDK_LICENSE: 1
          BUILDOZER_ALLOW_ORG_NAME_START: 1

      - name: Upload APK
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: my-app-apk
          path: bin/*.apk
